.App {
  text-align: center;
}
.FirstDiv{
  background-color: blue;
}
.iconHeight{
  height: 50px;
  width: 50px;
}
.Recommended{
  margin-top: 20px;
  text-align: left;
}
.iconHeightSm{
  height: 25px;
  width: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cardTitleHeight{
  /* height: 80px; */
  background-color: whitesmoke;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .moveTop{
  margin-top: 10px;
  padding-top: 20px;
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
